@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";
@import "@mantine/core/styles.layer.css";

@theme {
  --font-sans: "Nunito Sans", ui-sans-serif, system-ui, sans-serif;
}

@variant dark ([data-mantine-color-scheme="dark"] &);

:root {
  color-scheme: dark;

  /* --mantine-primary-color-filled: var(--color-white) !important;
  --mantine-primary-color-filled-hover: var(--color-gray-100) !important;
  --mantine-primary-color-light: var(--color-black) !important;
  --mantine-primary-color-light-hover: var(--color-gray-900) !important; */
}

:root[data-mantine-color-scheme="light"] {
}

:root[data-mantine-color-scheme="dark"] {
}

html,
body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
}
